.checkout-title{
    font-size: 25px;
    font-weight: 700;
    color: #333333;
}

.checkout input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    color: #888888;
    margin-bottom: 15px;
  }