.sidebar {
  height: 100%;
  min-height: calc(100vh);
  background: #09091f;
  font-family: 'nunito-medium', sans-serif;
  padding: 0;
  width: 100%;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
}
.sidebar .nav {
  overflow: hidden;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 60px;
}
.sidebar .nav .nav-item {
  padding: 0 2.375rem;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transition-property: background;
  -webkit-transition-property: background;
  position: relative;
}
.sidebar .nav .nav-item .collapse {
  z-index: 999;
}
.sidebar .nav .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  padding: 0.625rem 0 0.625rem 0;
  color: #8e94a9;
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
  text-overflow: ellipsis;
}
.sidebar .nav .nav-item .nav-link .icon-bg {
  margin-right: 0.875rem;
  background: rgba(194, 244, 219, 0.12);
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 3px;
  text-align: center;
}
.rtl .sidebar .nav .nav-item .nav-link .icon-bg {
  margin-left: 1rem;
  margin-right: 0;
}
.sidebar .nav .nav-item .nav-link .icon-bg .menu-icon {
  color: #33c92d;
}
.sidebar .nav .nav-item .nav-link .icon-bg .menu-icon:after,
.sidebar .nav .nav-item .nav-link .icon-bg .menu-icon:before {
  font-size: 1rem;
  color: inherit;
}
.sidebar .nav .nav-item .nav-link i {
  color: inherit;
}
.sidebar .nav .nav-item .nav-link i.menu-icon {
  font-size: 1.125rem;
  line-height: 1;
  margin-right: 0;
  color: #8e94a9;
}
.rtl .sidebar .nav .nav-item .nav-link i.menu-icon {
  margin-left: 0;
  margin-right: 0;
}
.sidebar .nav .nav-item .nav-link i.menu-icon:before {
  vertical-align: middle;
}
.sidebar .nav .nav-item .nav-link i.menu-arrow {
  font: normal normal normal 24px/1 'Material Design Icons';
  line-height: 1;
  font-size: 1.125rem;
  margin-left: auto;
  color: rgba(255, 255, 255, 0.36);
}
.rtl .sidebar .nav .nav-item .nav-link i.menu-arrow {
  margin-left: 0;
  margin-right: auto;
}
.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
  content: '\f141';
  font-size: inherit;
  color: inherit;
}
.sidebar .nav .nav-item .nav-link i.menu-arrow + .menu-icon {
  margin-left: 0.25rem;
}
.rtl .sidebar .nav .nav-item .nav-link i.menu-arrow + .menu-icon {
  margin-left: 0;
  margin-right: 0.25rem;
}
.sidebar .nav .nav-item .nav-link .menu-title {
  color: inherit;
  display: inline-block;
  font-size: 0.937rem;
  line-height: 1;
  vertical-align: middle;
  color: #44ce42;
}
.sidebar .nav .nav-item .nav-link .badge {
  margin-right: auto;
  margin-left: 1rem;
}
.sidebar .nav .nav-item .nav-link[aria-expanded='true'] .menu-arrow:before {
  content: '\f140';
}
.sidebar .nav .nav-item.active {
  background: transparent;
}
.sidebar .nav .nav-item.active > .nav-link:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.5rem;
  bottom: 0;
  background: #44ce42;
  height: 24px;
  width: 4px;
}
.rtl .sidebar .nav .nav-item.active > .nav-link:before {
  left: auto;
  right: 0;
}
.sidebar .nav .nav-item.active > .nav-link .menu-title {
  color: #44ce42;
  font-family: 'nunito-medium', sans-serif;
}
.sidebar .nav .nav-item.active > .nav-link i {
  color: #44ce42;
}
.sidebar .nav .nav-item:hover {
  background: #161621;
}
.sidebar .nav .nav-item.nav-profile .nav-link {
  height: auto;
  line-height: 1;
  border-top: 0;
  padding: 1.25rem 0;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image {
  width: 44px;
  height: 44px;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image img {
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: 1rem;
}
.rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
  margin-left: auto;
  margin-right: 1rem;
}
.sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
  font-size: 1.125rem;
  margin-left: auto;
}
.rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
  margin-left: 0;
  margin-right: auto;
}
.sidebar .nav .nav-item.sidebar-actions {
  margin-top: 1rem;
}
.sidebar .nav .nav-item.sidebar-actions .nav-link {
  border-top: 0;
  display: block;
  height: auto;
}
.sidebar .nav .nav-item.sidebar-actions:hover {
  background: initial;
}
.sidebar .nav .nav-item.sidebar-actions:hover .nav-link {
  color: initial;
}
.sidebar .nav .nav-item.nav-category {
  color: #001737;
  font-size: 0.8125rem;
  line-height: 16px;
  margin: 25px 0px 10px 0px;
  color: #8e94a9;
  font-family: 'nunito-bold', sans-serif;
}
.sidebar .nav .nav-item.nav-category .nav-link {
  padding: 1.2rem 2rem 0.2rem;
}
.sidebar .nav .nav-item.nav-category .nav-link:hover {
  color: #001737;
}
.sidebar .nav .nav-item.documentation-link {
  margin: 2.5rem 0 !important;
}
.sidebar .nav .nav-item.documentation-link .nav-link {
  background: #0062ff;
  color: #ffffff;
  border-radius: 2px;
  padding: 0.875rem 0;
  font-size: 1.125rem;
  font-weight: bold;
}
.sidebar .nav .nav-item.documentation-link .nav-link .icon-bg {
  display: none;
}
.sidebar .nav .nav-item.documentation-link .nav-link .menu-title {
  margin: auto;
  background: transparent !important;
  color: #ffffff !important;
}
.sidebar .nav .nav-item.sidebar-user-actions {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .nav .nav-item.sidebar-user-actions .user-details {
  padding: 1rem 2.375rem;
  width: 100%;
  border-top: 1px solid rgba(151, 151, 151, 0.27);
  border-bottom: 1px solid rgba(151, 151, 151, 0.27);
  margin-bottom: 20px;
}
.sidebar
  .nav
  .nav-item.sidebar-user-actions
  .user-details
  .sidebar-profile-img {
  width: 31px;
  height: 31px;
  border-radius: 100%;
  margin-right: 12px;
}
.rtl
  .sidebar
  .nav
  .nav-item.sidebar-user-actions
  .user-details
  .sidebar-profile-img {
  margin-left: 1rem;
  margin-right: 0;
}
.sidebar
  .nav
  .nav-item.sidebar-user-actions
  .user-details
  .sidebar-profile-text {
  color: #ffffff;
}
.sidebar .nav .nav-item.sidebar-user-actions .user-details .badge {
  margin-right: 0;
}
.sidebar .nav .nav-item.sidebar-user-actions .sidebar-user-menu {
  padding: 0 2.375rem;
}
.sidebar .nav .nav-item.sidebar-user-actions .sidebar-user-menu .nav-link {
  font-size: 15px;
}
.sidebar .nav .nav-item.sidebar-user-actions .sidebar-user-menu .nav-link i {
  font-size: 18px;
  margin-right: 12px;
}
.rtl
  .sidebar
  .nav
  .nav-item.sidebar-user-actions
  .sidebar-user-menu
  .nav-link
  i {
  margin-right: 0;
  margin-left: 12px;
}
.sidebar
  .nav:not(.sub-menu)
  > .nav-item:hover:not(.nav-category):not(.nav-profile)
  > .nav-link {
  color: #fff;
}
.sidebar .nav.sub-menu {
  margin-bottom: 20px;
  margin-top: 0;
  list-style: none;
}
.sidebar .nav.sub-menu .nav-item {
  padding: 0;
}
.sidebar .nav.sub-menu .nav-item .nav-link {
  color: #888;
  padding: 0.75rem 2rem 0.75rem 2rem;
  position: relative;
  font-size: 0.8125rem;
  line-height: 1;
  height: auto;
  border-top: 0;
}
.sidebar .nav.sub-menu .nav-item .nav-link:before {
  content: '\F054';
  font-family: 'Material Design Icons';
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #a2a2a2;
  font-size: 0.75rem;
}
.rtl .sidebar .nav.sub-menu .nav-item .nav-link:before {
  left: auto;
  right: 0;
  content: '\F04D';
}
.sidebar .nav.sub-menu .nav-item .nav-link.active {
  color: #44ce42;
  background: transparent;
}
.sidebar .nav.sub-menu .nav-item .nav-link.active:before {
  color: #44ce42;
}
.sidebar .nav.sub-menu .nav-item .nav-link:hover {
  color: #555555;
}
.sidebar .nav.sub-menu .nav-item:hover {
  background: transparent;
}
